<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name = "TestSuite">
    <parameter name="UserName" value="admin"/>
    <parameter name="Password" value="password"/>
    
    <test name = "Smoke Test">
        <classes>
            <class name="GettingStarted.TestNGTest">
                <methods>
                    <include name="testWithDataProvider" />
                </methods>
            </class>

        </classes>


    </test>

</suite>